# Hugo build output
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
.hugo_build.lock

# Local working files
temp/

# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*~

# Dependencies
node_modules/
