footer { font-size: 90%; }
/* darkmode */
@media (prefers-color-scheme: dark) {}

.research-projects {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 20px;
}

img, iframe {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}